/* reset básico */
body {
   background-color: #BF681B;
    color: black;
    

}
.img img{
    display:inline-block;
    max-width: 60%;
    max-height: 50%;
    margin-left: 40%;
    margin-top: 5%;
    top:35px;
    border-radius: 2000px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    opacity: 0.9;
    box-shadow: rgb(251, 251, 252) 0px 0px 10px, orange 0px 0px 20px, red 0px 0px 30px;


}


/* container central */
.container {
    background-color: rgba(255, 255, 255, 0.60);
    width: 400px;
    height: 799px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 35px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* título */
.container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
}

/* grupo de campos */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* labels */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* inputs */
.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* botão */
.container button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    background: #BF681B;
    color: #fff;
    border: none;
    margin-top: 10px;
}
.container button:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid #BF681B;
}

/* links */
.container p {
    margin: 10px 0;
    text-align: center;
}
.container a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.container a:hover {
    color: #BF681B;
}

/* responsivo */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .container h1 {
        font-size: 22px;
    }
}
