body {
    font-family: Arial, sans-serif;
     background-color: #BF681B;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabela-produtos th, .tabela-produtos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabela-produtos th {
    background: #f7a541;
    color: #fff;
}

button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
